venv
*.pyc
*.pyo
*.swp

# JetBrains IDE
.idea/

# Visual Studio Code
.vscode/

# Documentation build
/doc/_build
/docs

# Distribution and building the package
/dist
/MANIFEST
/build
/podgen.egg-info
